@import "src/styles/base";

.card {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  border: 1px solid #ececec;
  background: #fff;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  min-height: 150px;
}

.title {
  align-self: center;
  font-size: xx-large;
}

.infoPart {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.rightPart {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 300px;
}

.label {
  font-weight: bold;
}
