@import "src/styles/base";

.card {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 1px solid $dark-second-primary;
  margin: 20px 0;
  box-shadow:
          inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255)
}

.h2 {
  color: $dark-second-primary;
}

.boldText {
  font-weight: bold;
}

.description {
  text-align: left;
  font-size: small;
  font-weight: normal;
}

.leftBlock {


}

.rightBlock {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 5px;
}

.button {
  display: flex;
  justify-content: center;
  padding: 20px;
}
